<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= form_for :search_best_buy, url: search_path, method: :get do |f| %>
        <%= f.label :product %>
        <%= f.text_field :product %>
        <%= f.submit "Search" %>
      <% end %>
      <h1><%= @items.count %> Items</h1>
    </div>
  </div>
  <div class="row"></div>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item.name %></h5>
      <%= link_to(image_tag(item.image_url), item_path(item)) %>
      <p>
        <%= item.description %>
      </p>
    </div>
  <% end %>
</div>
